@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;900&display=swap');

html {
    min-height: 100%;
}

body {
    /* background-image: url(memory.jpg) ;
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: #333333;
    direction: ltr;
    padding-bottom: 200px;
    
}

* {
    font-family: 'Rubik', sans-serif !important;
}

h1 {
    text-align: center;
    color: #d53b3b;
    margin: 16px;
    text-shadow: 0px 2px 4px  black;
    font-size: 3rem;
}

label {
    color: #d53b3b;
}

.frame {
    text-align: center;
}

h2 {
  text-align: center;
    color: whitesmoke;
    margin: 16px;
}
h2.active {
    color: #d53b3b;

}

h2.winner {
    color: #d53b3b;
   
    position: fixed;
    top: 50%;
    left: 45%;
    
    animation: zoom-in 2s;
    font-size: 70px;
 
}

h2.loser {
    color: whitesmoke;
}

h2.tie {
    color: orange;
}

button {
    background-color:#d53b3b;
    color: #333333;
    padding: 8px 12px;
    border-radius: 10px;
    border: black 2px solid;
    cursor: pointer;
    transition: all 0.7s;
    font-weight: bold;
}

button:hover {
    background-color: black;
    color: #d53b3b;
}

.board {
    display: inline-grid;
    overflow: hidden;
    background-color:#181818;
    gap: 6px;
    padding: 6px;
    border-radius: 12px;
    direction: ltr;
}

.board div {
    width: 90px;
    height: 90px;
    background-color: #d53b3b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    color: whitesmoke;
    border-radius: 12px;
    transition: 0.3s;
    box-shadow: inset 0px 0px 8px black;
}

.board div span {
    display: none;
    pointer-events: none;
}

.board div.showing {
    background: whitesmoke;
    transform: matrix3d(1, 0, 4, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1);
    color: #d53b3b;
}

.board div.hidden {
    opacity: 0;
    visibility: hidden;
}

.board div.showing span {
    display: initial;
}


@keyframes zoom-in {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1.4);
    }
}

 

p {
    text-align: center;
    color: whitesmoke;
}

p .margin {
    margin: 0 12px;
}

/* .cheat {
    filter: brightness(0.7);
} */
.player-name {
    border: none;
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    outline: none;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

#boardSizeChoose{
        border: none;
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
  
    color: inherit;
    outline: none;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
}
#playersContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

